h1 {
    border: rgb(238, 200, 207) 8px solid;
    color: rgb(197, 21, 197);
    border-radius: 15px;
    background-color: rgb(239, 241, 235);
    }
    p {
    color: black;
    background-color: rgb(205, 240, 170);
    }
    h2 h3 h4 h5 {
    color: blue;
    
    }